body{
    margin: 5%;
    background-color: rgb(144, 223, 255);
    padding: 0 px;

}

.titulo{
    text-align: center;
    font-size: 44px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;

}

.bloco-1{
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
.container{

    display:flex;
    justify-content :right;
    gap: 10px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    
}

.t1{
    
   font-size: 25px;
   color:black;
   font-weight: bold;
   border-radius: 10px;
   background-color: rgb(144, 223, 255);
   border: none;
   font-family: 'Rubik', sans-serif;
}


.t7{
    gap: 10px;
   font-size: 25px;
   color:white;
   font-weight: bold;
   background-color:#322c8e;
   border-radius: 4px;
   border: none;
   font-family: 'Rubik', sans-serif;
}



.t2,.t3,.t4,.t5,.t6{
   gap: 10px;
   font-size: 25px;
   color:black;
   font-weight: bold;
   background-color: rgb(144, 223, 255);
   border-radius: 4px;
   border: none;
   font-family: 'Rubik', sans-serif;
}

.container-tt{
    display: flex;
    flex-direction: row;
    align-items: center ;
    text-align: justify;
    padding: 0%;
    gap: 30px;
    
}

.botaomeio{
    font-size: 25px;
   color:white;
   background-color: #322c8e;
   font-weight: bold;
   border:none;
   border-radius: 5px;

}

.tweet1, .tweet2, .tweet3{
    background-color: rgb(191, 230, 245);
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    
    
}
img{
    height: 35px;
    display: flex;
    margin-right: auto;
    
}
